button.scroll-to-top-button {
    position: fixed;
    right: var(--margin-m);
    bottom: var( --margin-m);
    border: 1px solid;
    background: var(--color-background);
    opacity: 0;
    transition: opacity 300ms ease-out;
}

button.scroll-to-top-button--visible {
    opacity: 1;
}

button.scroll-to-top-button:hover {
    background: var(--color-background);
}
