.form-date {
    display: flex;
}

.form-date__container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: var(--padding-s);
}

.form-date__day {
    font-size: 42px;
    margin-right: var(--margin-s);
}

.form-date__edit-button {
    height: 48px;
}

.form-date__edit-button:hover {
    color: var(--color-theme);
}

.inner-block {
    text-align: left;
    font-size: 16px;
    margin: auto 0 auto;
}
