.statistics-view {
    height: 100%;
    overflow: auto;
}

.statistics-view__content {
    position: relative;
    max-width: 1300px;
    padding: var(--margin-m) var(--margin-l);
    margin: 10vh auto;
}

@media only screen and (max-width: 680px) {
    .statistics-view__content {
        padding: 0;
        margin: 0;
    }
}
