.activity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: var(--padding) var(--padding-s) var(--padding) 56px;
    margin-bottom: var(--margin-xs);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
}

.activity:hover {
    border-color: var(--color-highlight);
}

.activity .activity__indicator-icon {
    font-size: 28px;
}
.activity__indicator {
    position: absolute;
    left: 16px;
    color: #39b639;
}

.activity__name {
    width: 100%;
    margin-right: 112px;
}

.activity__name--edit {
    margin-top: -20px;
    margin-bottom: -20px;
}

.activity--completed .activity__name-text {
    opacity: 0.75;
    text-decoration: line-through;
}

.activity:hover .activity-controls__style {
    transform: translateX(-96px);
}

.activity:hover .activity-controls__controls {
    opacity: 1;
    visibility: visible;
    transform: translateX(-96px);
}

.activity__activity-controls {
    margin-left: auto;
}
