.activity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: var(--padding-s) 0 var(--padding-s) 62px;
    border: 1px solid transparent;
    text-align: left;
    font-size: var(--font-size);
    cursor: pointer;
    transition: border 150ms ease-in, color 150ms ease-in;
    -webkit-tap-highlight-color: transparent;
}

.activity button {
    transition: color 150ms ease-in;
}

.activity .activity__indicator-icon {
    font-size: 24px;
}
.activity__indicator {
    display: flex;
    position: absolute;
    left: 12px;
    color: var(--color-success);
    border: 1px solid var(--color-border);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    transition: border 150ms ease-in;
}

.activity__name {
    width: 100%;
}

.activity__name--edit {
    margin-top: -20px;
    margin-bottom: -20px;
}

.activity--completed .activity__name-text {
    opacity: 0.75;
    text-decoration: line-through;
}

@media only screen and (min-width: 680px) {
    .activity:hover {
        color: var(--color-theme);
    }

    .activity:hover .activity__indicator {
        border-color: var(--color-theme);
    }

    .activity:hover button {
        color: var(--color-theme);
    }
}
