
.activity-list {
    position: relative;
    margin-top: var(--margin);
    --transition-duration: 300ms;
}

.activity-list__overflow-mask {
    position: absolute;
    top: 0;
    right: -30px;
    width: 32px;
    height: 100%;
    background: var(--color-background);
}

.activity-list-transition-enter {
    opacity: 0.01;
}

.activity-list-transition.activity-list-transition-enter-active {
    opacity: 1;
    transition: opacity var(--transition-duration) ease-in;
}

.activity-list-transition-leave {
    opacity: 1;
}

.activity-list-transition-leave.activity-list-transition-leave-active {
    opacity: 0.01;
    transition: opacity var(--transition-duration) ease-in;
}

@media only screen and (max-width: 540px) {
    .activity-list {
        margin-left: -8px;
    }
}
