
.activity-list {
    position: relative;
    margin-top: var(--margin);
    --transition-duration: 300ms;
}

.activity-list-transition-enter {
    opacity: 0.01;
}

.activity-list-transition.activity-list-transition-enter-active {
    opacity: 1;
    transition: opacity var(--transition-duration) ease-in;
}

.activity-list-transition-leave {
    opacity: 1;
}

.activity-list-transition-leave.activity-list-transition-leave-active {
    opacity: 0.01;
    transition: opacity var(--transition-duration) ease-in;
}

.no-activities-transition-enter {
    opacity: 0.01;
}

.no-activities-transition-enter.no-activities-transition-enter-active {
    opacity: 1;
    transition: opacity var(--transition-duration) ease-in;
}

.no-activities-transition-leave {
    opacity: 1;
}

.no-activities-transition-leave.no-activities-transition-leave-active {
    opacity: 0.01;
    transition: opacity var(--transition-duration) ease-in;
}
