.log-is-completed-message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.log-is-completed-message__illustration {
    margin-bottom: var(--margin-m);
}

.log-is-completed-message__illustration svg {
    font-size: 100px;
    color: var(--color-success);
}

.log-is-completed-message__congratulations {
    font-size: 20px;
}

.message-navigation-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-top: 1px solid var(--color-border);
    font-size: var(--font-size);
    padding-top: var(--padding-l);
    padding-bottom: var(--padding-l);
    margin-bottom: calc(var(--margin) * -1);
}

.message-navigation-options > div {
    padding: var(--margin-s);
}

button.message-navigation-options__button {
    margin-bottom: var(--margin);
}

button.log-is-completed-message__go-back {
    font-size: 14px;
}

@media only screen and (min-width: 680px) {
    .log-is-completed-message {
        min-height: 500px;
    }
}
