.calendar-view {
    width: 100%;
}

.calendar-view__legend {
    width: 100%;
}

.calendar-view__table {
    height: calc(100% - var(--legend-height));
    margin-top: var(--legend-height);
    overflow: auto;
}
