.calendar-view {
    height: 100%;
}

.calendar-view__legend {
    width: 100%;
}

.calendar-view__table {
    max-width: 1300px;
    margin: auto;
}

.calendar-view .scroll-container {
    height: calc(100% - var(--legend-height));
}
