.fade-transition-enter {
    opacity: 0.01;
    transition: opacity 150ms ease-out;
}

.fade-transition-enter.fade-transition-enter-active {
    opacity: 1;
}

.fade-transition-leave {
    opacity: 1;
    transition: opacity 150ms ease-out;
}

.fade-transition-leave.fade-transition-leave-active {
    opacity: 0.01;
}
