.activity-create {
    display: flex;
    margin-top: var(--margin-s);
    margin-right: var(--margin-s);
}

.activity-create .activity-create__input {
    width: 100%;
}

.activity-create .activity-create__toggle-button {
    margin-left: auto;
}

.activity-create .activity-create__toggle-button:hover {
    color: var(--color-theme);
}
