.form-view {
    max-width: 40vw;
    width: 100%;
    padding: var(--padding) var(--padding-l);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    margin: 10vh auto 0;
    background: var(--color-background);
}

button.form-view__toggle-button {
    float: left;
    margin-top: var(--margin-xl);
}
