.legend-item {
    display: flex;
    align-items: center;
    padding: var(--padding-xs) var(--padding-s);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    cursor: pointer;
}

.legend-item:hover {
    border-color: var(--color-highlight);
}

.legend-item__name {
    margin-right: var(--margin-s);
}

.legend-item__color {
    height: 22px;
    width: 22px;
    margin: 2px;
    border: 1px solid var(--color-border);
    border-radius: 10%;
}
