.header {
    display: flex;
    width: 100%;
    height: var(--height-header);
    border-bottom: 1px solid var(--color-border);
    z-index: 1;
    background: var(--color-background);
}

.header__content {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    width: 100%;
    padding: 12px var(--padding-xl);
    margin: 0 auto;
}

.main-logo {
    height: auto;
    width: 90px;
}

@media only screen and (max-width: 1300px) {
    .header__content {
        padding: 0;
    }
}

@media only screen and (max-width: 680px) {
    .header {
        border: none;
    }

    .header__content {
        padding: 0;
        margin: 0 var(--margin-m);
        border-bottom: 1px solid var(--color-border);
    }
}
