
.calendar {
    padding: var(--margin-m) var(--margin-l);
}

.calendar__month:not(:last-child) {
    margin-bottom: var(--margin-l);
}

.calendar__days {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(7, var(--width-calendar-card));
    grid-column-gap: var(--margin-s);
    grid-row-gap: var(--margin-s);
    row-gap: var(--margin-s);
    direction: rtl;
}

.calendar-year-label {
    margin-bottom: calc(var(--margin-s) * -1);
    font-size: var(--font-size-xl);
    text-align: left;
}

.calendar-month-label {
    margin: var(--margin-s) 0 var(--margin);
    font-size: var(--font-size-l);
    text-align: left;
}

.calendar-month-label__year {
    font-size: var(--font-size);
    margin-left: var(--margin-xs);
}

.list-view .calendar__days {
    grid-template-columns: repeat(1, 1fr);
}

@media only screen and (max-width: 1300px) {
    .calendar__days {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media only screen and (max-width: 1000px) {
    .calendar__days {
        grid-template-columns: repeat(5, 1fr);
    }
}


@media only screen and (max-width: 850px) {
    .calendar__days {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 660px) {
    .calendar__days {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 525px) {
    .calendar__days {
        grid-template-columns: repeat(2, 1fr);
    }
}
