.calendar-cell {
    height: 110px;
    min-height: 110px;
    padding: var(--padding-s);
    border: 1px solid var(--color-border);
    box-shadow: 12px 11px 8px -14px rgba(43, 44, 52, .6);
    direction: ltr;
    background: var(--color-background);
}

.calendar-cell--highlight {
    border: 1px solid var(--color-theme);
    box-shadow: 12px 11px 8px -14px var(--color-theme);
}

.calendar-cell__timestamp {
    position: relative;
    top: calc(var(--margin-xs) * -1);
    left: calc(var(--margin-xs) * -1);
    padding: var(--padding-xs);
    width: 100%;
    text-align: left;
    font-size: var(--font-size);
    font-weight: bold;
}

.calendar-cell__weekday {
    float: right;
}

.calendar-cell__weekend {
    color: #ff2727;
}

.calendar-cell__activities {
    display: flex;
    flex-wrap: wrap;
}

.log-activity {
    display: flex;
    align-items: center;
}

.log-activity__name {
    margin-left: var(--margin-s);
}

.log-activity__color {
    height: 22px;
    width: 22px;
    margin: 2px;
    border: 1px solid var(--color-border);
}

.list-view .calendar-cell {
    height: auto;
}

.list-view .calendar-cell__activities {
    flex-direction: column;
}

@media only screen and (min-width: 1300px) {
    .calendar-cell:not(.list-view) .calendar-cell__weekday {
        display: none;
    }
}

