.navigation {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navigation *:not(:last-child) {
    margin-right: var(--margin-xs);
}

@media only screen and (max-width: 500px) {
    .navigation {
        width: 100%;
        justify-content: space-between;
    }
}
