.legend {
    display: flex;
    width: 100%;
    align-items: center;
    height: var(--legend-height);
    border-bottom: 1px solid var(--color-border);
    background: var(--color-background);
    overflow: auto;
}

.legend__item:first-child {
    padding-left: var(--margin-s);
}

.legend__item:last-child {
    padding-right: var(--margin-s);
}

.legend__item:not(:last-child) {
    margin-right: var(--margin-s);
}
