.App {
    height: 100%;
    text-align: center;
    color: var(--color-text);
    font-size: var(--font-size);
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 100%;
    background: var(--color-background);
}

.app-theme-background {
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--color-theme);
}

.app-panel-container {
    display: flex;
    align-items: center;
    overflow: auto;
}

.app-panel {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    padding: var(--padding-l);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    background: var(--color-background);
}

.app-panel__header {
    margin: 0;
    font-size: var(--font-size-l);
    font-weight: normal;
    text-align: left;
}

.app-border {
    border: 1px solid var(--color-border);
    box-shadow: 12px 8px 31px -12px rgba(43, 44, 52, .6);
}

@media only screen and (max-width: 700px) {
    .app-panel {
        min-width: 75vw;
    }
}

@media only screen and (max-width: 450px) {
    .app-panel-container {
        width: 100%;
    }

    .app-panel {
        width: 100%;
        min-height: 100%;
        padding-top: var(--padding-xl);
        border: 0;
        border-radius: 0;
        box-sizing: border-box;
        box-shadow: none;
    }
}
