:root {
    --color-text: #2b2c34;
    /*--color-text: #303030;*/
    /*--color-border: #eaeaea;*/
    --color-success: #3eb73e;
    --color-border: #d3d3d3;
    /*#eaeaea;*/
    --color-background: #fffffe;
    --color-shade-background: #e7e7e7;
    --color-background-dark-opaque: #7a7a7a52;
    --color-highlight: #79ACE2;
    --color-theme: #4973d3;

    --height-header: 62px;

    --padding-xs: 4px;
    --padding-s: 8px;
    --padding: 16px;
    --padding-m: 24px;
    --padding-l: 32px;
    --padding-xl: 64px;

    --margin-xs: 4px;
    --margin-s: 8px;
    --margin: 16px;
    --margin-m: 24px;
    --margin-l: 32px;
    --margin-xl: 64px;

    --border-radius: 5px;

    --font-size: 13px;
    --font-size-m: 16px;
    --font-size-l: 32px;
    --font-size-ll: 48px;
    --font-size-xl: 62px;

    --legend-height: 62px;

    --width-form-button: 202px;
}
