:root {
    --color-text: #828282;
    --color-border: #eaeaea;
    --color-background: #ffffff;
    --color-background-dark-opaque: #7a7a7a52;
    --color-highlight: #79ACE2;

    --padding-xs: 4px;
    --padding-s: 8px;
    --padding: 16px;
    --padding-m: 24px;
    --padding-l: 32px;
    --padding-xl: 64px;

    --margin-xs: 4px;
    --margin-s: 8px;
    --margin: 16px;
    --margin-m: 24px;
    --margin-l: 32px;
    --margin-xl: 64px;

    --font-size: 13px;
    --font-size-m: 24px;
    --font-size-l: 32px;
    --font-size-xl: 62px;

    --legend-height: 62px
}
