.auth__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.auth__separator {
    margin: var(--margin-l) 0;
    font-size: var(--font-size-m);
}

.auth__redirect {
    margin-top: var(--margin-xl);
    text-align: right;
}
