.log-cell {
    height: 110px;
    padding: var(--padding-s);
    border: 1px solid var(--color-border);
    box-shadow: 12px 11px 8px -14px rgba(43, 44, 52, .6);
    direction: ltr;
    background: var(--color-background);
}

.log-cell__timestamp {
    position: relative;
    top: calc(var(--margin-xs) * -1);
    left: calc(var(--margin-xs) * -1);
    padding: var(--padding-xs);
    width: 20px;
    text-align: center;
    font-size: var(--font-size);
    font-weight: bold;
}

.log-cell__activities {
    display: flex;
    flex-wrap: wrap;
}

.log-cell__activity {
    height: 22px;
    width: 22px;
    margin: 2px;
    border: 1px solid var(--color-border);
    cursor: pointer;
}

.log-cell__activity:hover {
    border-color: var(--color-highlight);
}
